body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

.nav-logo {
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;

}

.logo-span {
    color: #2E2F42;
}

.nav-item {
    color: #2E2F42;
    }

.nav-item li:first-child ,
.nav-item li:first-child {
    color: #404BBF;
}

.header-two {
    font-weight: 700;
    font-size: 36px;    
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F52;
}

p {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}

.address-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration: underline;
    font-style: normal;

}

.address-item {
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.address-item:hover ,
.address-item:focus
{
    color:#404BBF;
}


.taem-squad {
    background-color: #F4F4F4;
}

.footer-warp {
    background-color:   #434455;
       
}

.footer-smalltext {
    color: #F4F4F4;  
}

.site-nav {
    color: #2F4242;
}

.nav-list a{
    font-weight: 500;}

/* first section */
.section-one {
    background-color: #2E2F42;
}

.title-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #FFFFFF;
    background-color: #2E2F42;
    text-align: center;
}

.text-btn {
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    cursor: pointer;
    line-height: 1.5;
}

.text-btn:hover ,
.text-btn:focus {
    color:#404BBF;
}

